@font-face {
	font-family: "Inter";
	src: local("Inter ExtraLight"), local("Inter-ExtraLight"), url("Inter-ExtraLight.woff2") format("woff2"), url("Inter-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Thin"), local("Inter-Thin"), url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter SemiBold"), local("Inter-SemiBold"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Light"), local("Inter-Light"), url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter ExtraBold"), local("Inter-ExtraBold"), url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Black"), local("Inter-Black"), url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
	font-family: "Inter";
	background-color: black;
}

.select-custom select {
	font-family: "Inter";
	appearance: none;
	background: none;
	border: none;
	color: #f5f5f5;
	outline: none;
	font-size: 16px;
}
.select-custom::after {
	content: url("../images/arrow.svg");
	vertical-align: middle;
	display: inline-block;
}
.select-custom select option {
	color: #000;
}

.content {
	padding: 0 40px;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Header START */
.header {
	color: #f5f5f5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 11;
}
.header-row {
	display: flex;
	align-items: center;
	padding: 16px 0;
}

.header-phone {
	margin-right: 40px;
}

.header-right {
	margin-left: auto;
	display: flex;
	align-items: center;
}
.header-social {
	margin-right: 15px;
	padding-right: 40px;
	border-right: 1px solid #f5f5f5;
	min-height: 25px;
}
.header-social a {
	display: inline-block;
}
.header-social a:nth-last-child(n + 2) {
	margin-right: 10px;
}
.header-btn-wrap {
	display: flex;
	align-items: center;
	padding-right: 40px;
	margin-right: 40px;
	border-right: 1px solid #f5f5f5;
}
.header-btn {
	min-height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 20px;
	border-radius: 40px;
}
.header-btn.is-active {
	border: 1px solid #e0b100;
	min-height: 32px;
}
.header-btn:first-child {
	margin-right: 10px;
}

.header-bottom {
	padding: 24px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-nav ul {
	display: flex;
}
.header-nav ul li {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
}
.header-nav ul li:nth-last-child(n + 2) {
	margin-right: 45px;
}
.logo img {
	max-width: 177px;
}

.hamburger {
	display: none;
	cursor: pointer;
}
.hamburger img {
	max-width: 40px;
}
.header-mobile {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #1e1e1e;
	padding: 60px 25px;
	height: 100%;
	text-align: center;
	transition: transform 0.35s ease;
}
.header-mobile .header-right {
	display: block;
}
.header-mobile .header-social,
.header-mobile .header-btn-wrap {
	border: none;
}
.header-mobile .header-left {
	margin-bottom: 25px;
	text-align: center;
}
.header-mobile .header-left a {
	display: block;
}
.header-mobile .header-phone {
	margin-right: 0;
	margin-bottom: 10px;
}
.header-mobile .header-btn-wrap {
	display: block;
	margin-right: 0;
	padding-right: 0;
}
.header-mobile .header-btn:first-child {
	margin-right: 0;
}
.header-mobile .header-btn-wrap a {
	margin-bottom: 20px;
}
.header-mobile .header-social {
	margin-right: 0;
	padding-right: 0;
	margin-bottom: 15px;
}
.header-mobile-close {
	position: absolute;
	right: 25px;
	top: 20px;
}
.header-mobile-close img {
	max-width: 20px;
	opacity: 0.7;
}
/* Header END */
